body {
  background-color: #08190b;
}

#text {
  background-color: rgb(70, 43, 2);
  color: #ffffff;
  padding: 17px;
  font-size: 22px;
}

#game {
  max-width: 50%;
  max-height: 900px;
  background-color: rgb(240, 186, 106);
  color: #ffffff;
  margin: 200px auto 0px;
  padding: 20px;
  border-radius: 20px;
 display: grid;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  
}

#stats{
  padding: 10px;
  font-size: 30px;
  
}
#controls {
  display: flex;
  padding: 10px;

}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
  padding-left: 10px;
  
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#f5b453, #855d20);
  border: 3px solid #855d20(51, 25%, 90%);
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 8px;
  
  
}
#button4{
  display: none;
}
img {
  width: 500px;
  display: grid;
  margin: auto;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
}